{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_stalloc/settings

    Display the home site of this plugin.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * none
}}

<h2 class="mt-3 mb-3 ml-3">EINSTELLUNGEN</h2>

{{#saved_declaration}}
    <div class="alert alert-success mb-5" role="alert">
        Studentische Erklärung erfolgreich gespeichert.
    </div>
{{/saved_declaration}}

{{#saved_phone}}
    <div class="alert alert-success mb-5" role="alert">
        Telefon Einstellungen erfolgreich gespeichert.
    </div>
{{/saved_phone}}

{{#saved_rating}}
    <div class="alert alert-success mb-5" role="alert">
        Prioritäten Einstellungen erfolgreich gespeichert.
    </div>
{{/saved_rating}}

{{#saved_phase1}}
    <div class="alert alert-success mb-5" role="alert">
        Phase 1 Zeitangaben erfolgreich gespeichert.
    </div>
{{/saved_phase1}}

{{#saved_phase2}}
    <div class="alert alert-success mb-5" role="alert">
        Phase 2 Zeitangaben erfolgreich gespeichert.
    </div>
{{/saved_phase2}}


{{#saved_phase3}}
    <div class="alert alert-success mb-5" role="alert">
        Phase 3 Zeitangaben erfolgreich gespeichert.
    </div>
{{/saved_phase3}}

{{#saved_phase4}}
    <div class="alert alert-success mb-5" role="alert">
        Phase 4 Zeitangaben erfolgreich gespeichert.
    </div>
{{/saved_phase4}}

{{#saved_published}}
    <div class="alert alert-success mb-5" role="alert">
        Die Ergebnisse wurden erfolgreich veröffentlicht.
    </div>
{{/saved_published}}

{{#plugin_resetted}}
    <div class="alert alert-success mb-5" role="alert">
        Das Plugin wurde erfolgreich zurückgesetzt.
    </div>
{{/plugin_resetted}}

{{#error_declaration_empty}}
    <div class="alert alert-danger mb-5" role="alert">
        Fehler! Die Studentische Erklärung darf nicht leer sein! Bitte stelle einen Text für die Erklärung zur Verfügung.
    </div>
{{/error_declaration_empty}}

{{#error_rating_number}}
    <div class="alert alert-danger mb-5" role="alert">
        Fehler! Die Prioritäten Einstellungen wurden nicht gespeichert. Die angegebene Anzahl an Prioritäten war größer, als die Anzahl der aktiven Lehrstühle.
    </div>
{{/error_rating_number}}

{{#error_end_date_before_start_date}}
    <div class="alert alert-danger mb-5" role="alert">
        Fehler! Flache Zeitangabe vorgenommen. Bitte beachte dass die 'von' Zeitangabe vor der 'bis' Zeitangabe liegen muss.
    </div>
{{/error_end_date_before_start_date}}

{{#error_no_date_pair}}
    <div class="alert alert-danger mb-5" role="alert">
        Fehler! Zeitangabe fehlt. Es muss sowohl die 'von', als auch die 'bis' Zeitangabe gesetzt werden.
    </div>
{{/error_no_date_pair}}

{{#error_phase1}}
    <div class="alert alert-danger mb-5" role="alert">
        Fehler! Zeitlicher Ablauf von Phase 1 wurde nicht gespeichert. Beachte die anderen Fehlermeldungen.
    </div>
{{/error_phase1}}

{{#error_phase2}}
    <div class="alert alert-danger mb-5" role="alert">
        Fehler! Zeitlicher Ablauf von Phase 2 wurde nicht gespeichert. Beachte die anderen Fehlermeldungen.
    </div>
{{/error_phase2}}

{{#error_phase3}}
    <div class="alert alert-danger mb-5" role="alert">
        Fehler! Zeitlicher Ablauf von Phase 3 wurde nicht gespeichert. Beachte die anderen Fehlermeldungen.
    </div>
{{/error_phase3}}

{{#error_phase4}}
    <div class="alert alert-danger mb-5" role="alert">
        Fehler! Zeitlicher Ablauf von Phase 4 wurde nicht gespeichert. Beachte die anderen Fehlermeldungen.
    </div>
{{/error_phase4}}

{{#error_plugin_reset_checkbox}}
    <div class="alert alert-warning mb-5" role="alert">
        Warnung! Das Plugin wurde nicht zurückgesetzt, da die Checkbox nicht markiert wurde.
    </div>
{{/error_plugin_reset_checkbox}}



<div id="accordion">
    <div class="card ml-3">
        <div class="card-header" id="heading0">
            <h2 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapse0" aria-expanded="false" aria-controls="collapse0">
                    {{#str}} icon_phone_big, mod_stalloc {{/str}} - Telefon Einstellungen
                </button>
            </h2>
        </div>
        <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordion">
            <div class="card-body">
                <div class="ml-3">
                    <form class="col-lg-6 col-sm-12" action="#heading0" method="post" >
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox_phone" name="checkbox_phone" {{checkbox_phone}}>
                                <label class="form-check-label" for="checkbox_phone">
                                    Telefonnummer der Studenten ist eine Pflichtangabe.
                                </label>
                            </div>
                        </div>
                        <button type="submit" name ="save_phone" class="btn btn-success">{{#str}} icon_save, mod_stalloc {{/str}} Speichern</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-3">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    {{#str}} icon_declaration, mod_stalloc {{/str}} - Studentische Erklärung
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="ml-3">
                    <form class="col-lg-6 col-sm-12" action="#headingOne" method="post" >
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox_declaration" name="checkbox_declaration" {{checkbox_declaration}}>
                                <label class="form-check-label" for="checkbox_declaration">
                                    Studenten müssen eine Erklärung abgeben.
                                </label>
                            </div>
                        </div>
                        <div class="card-image-style bg-light p-2 mb-3" style="outline: 0px solid transparent; height: auto; min-height: 250px;">
                            {{{text_declaration}}}
                        </div>

                        <a href="{{{delcaration_edit_url}}}" type="button" class="btn btn-primary">{{#str}} icon_edit, mod_stalloc {{/str}} Bearbeiten</a>
                        <button type="submit" name ="save_declaration" class="btn btn-success">{{#str}} icon_save, mod_stalloc {{/str}} Speichern</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-3">
        <div class="card-header" id="heading2">
            <h2 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    {{#str}} icon_rating, mod_stalloc {{/str}} - Prioritäten Einstellungen
                </button>
            </h2>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
            <div class="card-body">
                <div class="ml-3">
                    <form class="col-lg-6 col-sm-12" action="#heading2" method="post" >
                        <div class="form-group">
                            <label for="rating_counter">Wie viele Prioritäten muss ein Student angeben?</label>
                            <input type="text" class="form-control" name="rating_counter" id="rating_counter" value="{{rating_value}}" {{rating_disabled}}>
                            <label for="rating_counter">(Dieser Wert kann nicht größer als die Anzahl der aktiven Lehrstühle sein!)</label>
                        </div>
                        {{#rating_value_enabled}}
                            <button type="submit" name ="save_rating" class="btn btn-success">{{#str}} icon_save, mod_stalloc {{/str}} Speichern</button>
                        {{/rating_value_enabled}}
                        {{#rating_change_disabled}}
                            <div class="alert alert-warning mt-3" role="alert">
                                Diese Einstellung kann aktuell nicht angepasst werden, weil sich bereits Studenten im Kurs befinden!<br>
                                Sobald Studenten Zugriff auf dieses Plugin haben und schon Ihre Prioritäten abgeben können, ist dieser Wert nicht mehr bearbeitbar.
                            </div>
                        {{/rating_change_disabled}}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-3">
        <div class="card-header" id="heading3">
            <h2 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    {{#str}} icon_time, mod_stalloc {{/str}} - Zeitlicher Ablauf
                </button>
            </h2>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
            <div class="card-body">
                <div class="ml-3">
                    <form class="col-lg-6 col-sm-12" action="" method="post" >

                        <h4>Phase 1: Studentische Erklärung und Angabe der Prioritäten</h4>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="start_phase1">Von</label>
                                    <input type="date" class="form-control" name="start_phase1" id="start_phase1" value="{{start_phase1}}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="end_phase1">Bis</label>
                                    <input type="date" class="form-control" name="end_phase1" id="end_phase1" value="{{end_phase1}}">
                                </div>
                            </div>
                        </div>
                        <hr>

                        <h4>Phase 2: Feste Zuweisungen Annehmen/Ablehnen durch Lehrstühle</h4>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="start_phase2">Von</label>
                                    <input type="date" class="form-control" name="start_phase2" id="start_phase2" value="{{start_phase2}}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="end_phase2">Bis</label>
                                    <input type="date" class="form-control" name="end_phase2" id="end_phase2" value="{{end_phase2}}">
                                </div>
                            </div>
                        </div>
                        <hr>

                        <h4>Phase 3: Losverfahren</h4>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="start_phase3">Von</label>
                                    <input type="date" class="form-control" name="start_phase3" id="start_phase3" value="{{start_phase3}}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="end_phase3">Bis</label>
                                    <input type="date" class="form-control" name="end_phase3" id="end_phase3" value="{{end_phase3}}">
                                </div>
                            </div>
                        </div>
                        <hr>

                        <h4>Phase 4: Bachelorarbeit Definieren</h4>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="start_phase4">Von</label>
                                    <input type="date" class="form-control" name="start_phase4" id="start_phase4" value="{{start_phase4}}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="end_phase4">Bis</label>
                                    <input type="date" class="form-control" name="end_phase4" id="end_phase4" value="{{end_phase4}}">
                                </div>
                            </div>
                        </div>
                        <hr>

                        <button type="submit" name="save_schedule" class="btn btn-success">{{#str}} icon_save, mod_stalloc {{/str}} Speichern</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-3">
        <div class="card-header" id="heading4">
            <h2 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    {{#str}} icon_publish, mod_stalloc {{/str}} - Ergebnisse Veröffentlichen
                </button>
            </h2>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                <div class="ml-3">
                    <form class="col-lg-6 col-sm-12" action="#heading4" method="post" >
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox_publish" name="checkbox_publish" {{checkbox_publish}}>
                                <label class="form-check-label" for="checkbox_publish">
                                    Ja, ich möchte die Ergebnisse veröffentlichen. Ich bin mir bewusst, dass diese Aktion das aktuelle Verteilungsverfahren beendet.
                                </label>
                            </div>
                        </div>
                        <button type="submit" name ="publish" class="btn btn-success">{{#str}} icon_save, mod_stalloc {{/str}} Veröffentlichen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-3">
        <div class="card-header" id="heading5">
            <h2 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    {{#str}} icon_reset, mod_stalloc {{/str}} - Zurücksetzen
                </button>
            </h2>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
            <div class="card-body">
                <div class="ml-3">
                    <form class="col-lg-6 col-sm-12" action="#heading5" method="post" >
                        <div class="form-group">
                            <p>
                                Durch das Zurücksetzen werden alle Studenten, Prioritäten und Zuweisungen dieser Instanz gelöscht.
                            </p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox_reset" name="checkbox_reset">
                                <label class="form-check-label" for="checkbox_reset">
                                    Ja, ich möchte das Plugin zurücksetzen! Ich bin mir bewusst, dass dadurch alle Studenten und deren Angaben im Plugin gelöscht werden.
                                </label>
                            </div>
                        </div>
                        <button type="submit" name="reset_plugin" class="btn btn-danger">Zurücksetzen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
