{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_stalloc/settings

    Display the home site of this plugin.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * none
}}

<h2 class="mt-3 mb-3 ml-3">BASIC SETTINGS</h2>

{{#saved_declaration}}
    <div class="alert alert-success mb-5" role="alert">
        Declaration successfully saved!
    </div>
{{/saved_declaration}}

{{#saved_phone}}
    <div class="alert alert-success mb-5" role="alert">
        Phone requirement settings saved!
    </div>
{{/saved_phone}}

{{#saved_rating}}
    <div class="alert alert-success mb-5" role="alert">
        Rating successfully saved!
    </div>
{{/saved_rating}}

{{#saved_phase1}}
    <div class="alert alert-success mb-5" role="alert">
        Declaration and rating phase schedule successfully saved!
    </div>
{{/saved_phase1}}

{{#saved_phase2}}
    <div class="alert alert-success mb-5" role="alert">
        Chair confirmation phase schedule successfully saved!
    </div>
{{/saved_phase2}}


{{#saved_phase3}}
    <div class="alert alert-success mb-5" role="alert">
        Random allocation phase schedule successfully saved!
    </div>
{{/saved_phase3}}

{{#saved_phase4}}
    <div class="alert alert-success mb-5" role="alert">
        Thesis definition phase schedule successfully saved!
    </div>
{{/saved_phase4}}

{{#saved_published}}
    <div class="alert alert-success mb-5" role="alert">
        Published settings saved!
    </div>
{{/saved_published}}

{{#plugin_resetted}}
    <div class="alert alert-success mb-5" role="alert">
        Plugin successfully reset!
    </div>
{{/plugin_resetted}}

{{#error_declaration_empty}}
    <div class="alert alert-danger mb-5" role="alert">
        Error! The Declaration text field is empty. Please provide a declaration text!
    </div>
{{/error_declaration_empty}}

{{#error_rating_number}}
    <div class="alert alert-danger mb-5" role="alert">
        Error! The rating was not saved! Please make sure to provide a number which is smaller than the number of chairs!
    </div>
{{/error_rating_number}}

{{#error_end_date_before_start_date}}
    <div class="alert alert-danger mb-5" role="alert">
        Error! The end dates cannot be set before the start date!
    </div>
{{/error_end_date_before_start_date}}

{{#error_no_date_pair}}
    <div class="alert alert-danger mb-5" role="alert">
        Error! The start and end date must both be set! Please provide both date values.
    </div>
{{/error_no_date_pair}}

{{#error_phase1}}
    <div class="alert alert-danger mb-5" role="alert">
        Error! Declaration and rating phase schedule not saved!
    </div>
{{/error_phase1}}

{{#error_phase2}}
    <div class="alert alert-danger mb-5" role="alert">
        Error! Chair confirmation phase schedule not saved!
    </div>
{{/error_phase2}}

{{#error_phase3}}
    <div class="alert alert-danger mb-5" role="alert">
        Error! Random allocation phase schedule not saved!
    </div>
{{/error_phase3}}

{{#error_phase4}}
    <div class="alert alert-danger mb-5" role="alert">
        Error! Thesis definition phase schedule not saved!
    </div>
{{/error_phase4}}

{{#error_plugin_reset_checkbox}}
    <div class="alert alert-warning mb-5" role="alert">
        Warning! The Plugin was not reset! Safety checkbox was not checked!
    </div>
{{/error_plugin_reset_checkbox}}



<div id="accordion">
    <div class="card ml-3">
        <div class="card-header" id="heading0">
            <h2 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapse0" aria-expanded="false" aria-controls="collapse0">
                    {{#str}} icon_phone_big, mod_stalloc {{/str}} - Phone Settings
                </button>
            </h2>
        </div>
        <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordion">
            <div class="card-body">
                <div class="ml-3">
                    <form class="col-lg-6 col-sm-12" action="#heading0" method="post" >
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox_phone" name="checkbox_phone" {{checkbox_phone}}>
                                <label class="form-check-label" for="checkbox_phone">
                                    Require phone number from students?
                                </label>
                            </div>
                        </div>
                        <button type="submit" name ="save_phone" class="btn btn-success">{{#str}} icon_save, mod_stalloc {{/str}} SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-3">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    {{#str}} icon_declaration, mod_stalloc {{/str}} - Declaration settings
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="ml-3">
                    <form class="col-lg-6 col-sm-12" action="#headingOne" method="post" >
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox_declaration" name="checkbox_declaration" {{checkbox_declaration}}>
                                <label class="form-check-label" for="checkbox_declaration">
                                    Use student declaration?
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text_declaration">Declaration Text</label>
                            <textarea class="form-control" id="text_declaration" name="text_declaration" rows="10" {{disabled_declaration}}>{{text_declaration}}</textarea>
                        </div>
                        <button type="submit" name ="save_declaration" class="btn btn-success">{{#str}} icon_save, mod_stalloc {{/str}} SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-3">
        <div class="card-header" id="heading2">
            <h2 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    {{#str}} icon_rating, mod_stalloc {{/str}} - Rating settings
                </button>
            </h2>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
            <div class="card-body">
                <div class="ml-3">
                    <form class="col-lg-6 col-sm-12" action="#heading2" method="post" >
                        <div class="form-group">
                            <label for="rating_counter">How many ratings should a student make?</label>
                            <input type="text" class="form-control" name="rating_counter" id="rating_counter" value="{{rating_value}}" {{rating_disabled}}>
                            <label for="rating_counter">(This value cannot be higher than the number of active chairs!)</label>
                        </div>
                        {{#rating_value_enabled}}
                            <button type="submit" name ="save_rating" class="btn btn-success">{{#str}} icon_save, mod_stalloc {{/str}} SAVE</button>
                        {{/rating_value_enabled}}
                        {{#rating_change_disabled}}
                            <div class="alert alert-warning mt-3" role="alert">
                                The rating setting cannot be changed! Your plugin is in its active phase. <br>
                                You can only change this setting when there are no student ratings or allocations present.
                            </div>
                        {{/rating_change_disabled}}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-3">
        <div class="card-header" id="heading3">
            <h2 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    {{#str}} icon_time, mod_stalloc {{/str}} - Schedule
                </button>
            </h2>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
            <div class="card-body">
                <div class="ml-3">
                    <form class="col-lg-6 col-sm-12" action="" method="post" >

                        <h4>Phase 1: Declaration and ratings</h4>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="start_phase1">Start</label>
                                    <input type="date" class="form-control" name="start_phase1" id="start_phase1" value="{{start_phase1}}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="end_phase1">End</label>
                                    <input type="date" class="form-control" name="end_phase1" id="end_phase1" value="{{end_phase1}}">
                                </div>
                            </div>
                        </div>
                        <hr>

                        <h4>Phase 2: Confirmations by chairs</h4>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="start_phase2">Start</label>
                                    <input type="date" class="form-control" name="start_phase2" id="start_phase2" value="{{start_phase2}}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="end_phase2">End</label>
                                    <input type="date" class="form-control" name="end_phase2" id="end_phase2" value="{{end_phase2}}">
                                </div>
                            </div>
                        </div>
                        <hr>

                        <h4>Phase 3: Random allocation</h4>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="start_phase3">Start</label>
                                    <input type="date" class="form-control" name="start_phase3" id="start_phase3" value="{{start_phase3}}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="end_phase3">End</label>
                                    <input type="date" class="form-control" name="end_phase3" id="end_phase3" value="{{end_phase3}}">
                                </div>
                            </div>
                        </div>
                        <hr>

                        <h4>Phase 4: Thesis definition</h4>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="start_phase4">Start</label>
                                    <input type="date" class="form-control" name="start_phase4" id="start_phase4" value="{{start_phase4}}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="end_phase4">End</label>
                                    <input type="date" class="form-control" name="end_phase4" id="end_phase4" value="{{end_phase4}}">
                                </div>
                            </div>
                        </div>
                        <hr>

                        <button type="submit" name="save_schedule" class="btn btn-success">{{#str}} icon_save, mod_stalloc {{/str}} SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-3">
        <div class="card-header" id="heading4">
            <h2 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    {{#str}} icon_publish, mod_stalloc {{/str}} - Publish Results
                </button>
            </h2>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                <div class="ml-3">
                    <form class="col-lg-6 col-sm-12" action="#heading4" method="post" >
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox_publish" name="checkbox_publish" {{checkbox_publish}}>
                                <label class="form-check-label" for="checkbox_publish">
                                    Yes, I want to publish the results. I am aware that this action closes the current thesis allocation process!
                                </label>
                            </div>
                        </div>
                        <button type="submit" name ="publish" class="btn btn-success">{{#str}} icon_save, mod_stalloc {{/str}} SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-3">
        <div class="card-header" id="heading5">
            <h2 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    {{#str}} icon_reset, mod_stalloc {{/str}} - Reset
                </button>
            </h2>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
            <div class="card-body">
                <div class="ml-3">
                    <form class="col-lg-6 col-sm-12" action="#heading5" method="post" >
                        <div class="form-group">
                            <p>
                                By resetting the plugin, all student, rating, and allocation data will be deleted!
                            </p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox_reset" name="checkbox_reset">
                                <label class="form-check-label" for="checkbox_reset">
                                    Yes, I want to reset the Plugin! I am aware that this will delete all student related data from the plugin.
                                </label>
                            </div>
                        </div>
                        <button type="submit" name="reset_plugin" class="btn btn-danger">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
