{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_stalloc/view

    Display the home site of this plugin.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * none
}}

{{#accepted_declaration}}
    <div class="alert alert-success mb-5" role="alert">
        Studentische Erklärung akzeptiert!
    </div>
{{/accepted_declaration}}

{{#no_phone_number}}
    <div class="jumbotron">
        <h2>Telefonnummer wird benötigt!</h2>
        <p>Um dieses System nutzen zu können, müssen Sie uns eine Telefonnummer von Ihnen mitteilen</p>
        <p>
            Klicken Sie bitte auf den untenstehenden Link, um zu Ihrem Moodle Profil zu gelangen.<br>
            Fügen Sie dort unter dem Reiter 'Optional' Ihre Telefon und/oder Mobilnummer hinzu.
        </p>
        <p>
            Bitte beachten Sie, dass Sie eine deutsche Telefonnummer angeben, die mit 0 oder +49 beginnen muss!<br>
            (Bsp. einer korrekten Telefonnummer: 0234-12345)
        </p>
        <a class="btn btn-success btn-lg mt-3" href="{{{profile_link}}}" role="button">Mein Moodle Profil</a>
    </div>
{{/no_phone_number}}

{{#no_allocation_after_phase1}}
    <div class="jumbotron">
        <h2>Sie wurden von der Verteilung ausgeschlossen!</h2>
        <p>Sie haben in der letzten Phase keine Prioritäten angegeben und können daher nicht mehr bei der Verteilung teilnehmen!</p>
    </div>
{{/no_allocation_after_phase1}}

{{#waiting_for_phase1}}
    <div class="jumbotron">
        <h2>Bitte haben Sie noch etwas Geduld ...</h2>
        <p>Wir können Ihre Prioritäten noch nicht entgegennehmen</p>
        <p>
            Bitte kommen Sie später noch einmal zurück!<br>
            Sie können Ihre Prioritäten zwischen dem <b>{{phase1_start}}</b> und dem <b>{{phase1_end}} abgeben.
        </p>
    </div>
{{/waiting_for_phase1}}

{{#waiting_for_phase4}}
    <div class="jumbotron">
        <h2>Vielen Dank für Ihre Angaben</h2>
        <p>
            Jetzt heißt es erstmal warten. Ihre Angaben werden bearbeitet.<br>
            Bitte kommen Sie am <b>{{phase4_start}}</b> zurück, um zu erfahren welchem Lehrstuhl Sie zugewiesen wurden.
        </p>
    </div>
{{/waiting_for_phase4}}

{{#thesis_not_published}}
    <div class="jumbotron">
        <h2>Die Informationen Ihrer Bachelorarbeit werden bald veröffentlicht!</h2>
        <p>
            Zugewiesener Lehrstuhl: <b>{{chair_name}}</b><br><br>
            Die Informationen zur Bachelorarbeit sind noch nicht veröffentlicht.<br>
            Das Prüfungsamt benötigt noch mehr Zeit, um Ihre Angaben zu bearbeiten.<br>
            Bitte kommen Sie zu einem späteren Zeitpunkt wieder.
        </p>
    </div>
{{/thesis_not_published}}

{{#thesis_started}}
    <div class="jumbotron">
        <h2>Ihre Bachelorarbeit Informationen sind da</h2>
        <p>
            <b>Zugewiesener Lehrstuhl:</b> {{chair_name}}<br>
            <b>Bachelorarbeit Thema:</b> {{thesis_name}}<br>
            <b>Startdatum:</b> {{start_date}}<br>
            <b>2ter Prüfer:</b> {{examiner_two}}<br>
        </p>
    </div>
{{/thesis_started}}

{{#allocated_chair_name}}
    <div class="jumbotron">
        <h2>Lehrstuhl Zuweisung abgeschlossen</h2>
        <p>Sie wurden einem Lehrstuhl zugewiesen.</p>
        <p>
            Zugewiesener Lehrstuhl: <b>{{allocated_chair_name}}</b><br>
            Bitte kontaktieren Sie den Lehrstuhl, um Thema und Startdatum der Bachelorarbeit zu besprechen.
        </p>
    </div>
{{/allocated_chair_name}}





