{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_stalloc/view

    Display the home site of this plugin.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * none
}}

{{#accepted_declaration}}
    <div class="alert alert-success mb-5" role="alert">
        Declaration Accepted!
    </div>
{{/accepted_declaration}}

{{#no_phone_number}}
    <div class="jumbotron">
        <h2>Phone number required</h2>
        <p>In order to use this plugin you must provide a phone number within moodle.</p>
        <p>
            Please access your profile by clicking the link below and provide at least one phone number!<br>
            On your profile page scroll down and click the 'Optional' Heading. Here you can submit your phone number.
        </p>
        <p>
            Please note that the Phone number has to start with either 0 or +49.<br>
            (E.g. of a correct phone number: 0234-12345)
        </p>
        <a class="btn btn-success btn-lg mt-3" href="{{{profile_link}}}" role="button">Update Profile</a>
    </div>
{{/no_phone_number}}

{{#no_allocation_after_phase1}}
    <div class="jumbotron">
        <h2>You are excluded from the process</h2>
        <p>You did not provide any ratings in the previous step!</p>
        <p>
            You can no longer participate in this thesis allocation, because you did not provide the needed data during the
            previous step.
        </p>
    </div>
{{/no_allocation_after_phase1}}

{{#waiting_for_phase1}}
    <div class="jumbotron">
        <h2>Please wait for the process to start</h2>
        <p>You cannot commit your chair ratings yet.</p>
        <p>
            Please come back later! This process has not started yet.<br>
            You will be able to commit your Chair Ratings between the <b>{{phase1_start}}</b> and the <b>{{phase1_end}}</b>
        </p>
    </div>
{{/waiting_for_phase1}}

{{#waiting_for_phase4}}
    <div class="jumbotron">
        <h2>Thank you for your Ratings</h2>
        <p>
            For now it's time to wait. Your Ratings are being analyzed<br>
            Please come back at the <b>{{phase4_start}}</b> to see which Chair you are allocated to.
        </p>
    </div>
{{/waiting_for_phase4}}

{{#thesis_not_published}}
    <div class="jumbotron">
        <h2>Your Thesis information will be published soon</h2>
        <p>
            Your Chair Allocation: <b>{{chair_name}}</b><br><br>
            The Thesis information are not published yet.<br>
            The Examination Office needs time to evaluate all thesis information<br>
            Please come back later.
        </p>
    </div>
{{/thesis_not_published}}

{{#thesis_dates_published}}
    <div class="jumbotron">
        <h2>Your Thesis Start Date is published</h2>
        <p>
            Your Chair Allocation: <b>{{chair_name}}</b><br><br>
            Congratulations! Your thesis start date is now published!<br>
            Your thesis will start at the <b>{{start_date}}</b>.<br><br>
            Please come back at the {{start_date}} to receive more information about your thesis.
        </p>
    </div>
{{/thesis_dates_published}}

{{#thesis_started}}
    <div class="jumbotron">
        <h2>Your Thesis time has started</h2>
        <p>These are your Thesis information.</p>
        <p>
            <b>Chair:</b> {{chair_name}}</br>
            <b>Thesis Name:</b> {{thesis_name}}</br>
            <b>Start Date:</b> {{start_date}}</br>
            <b>2nd Examiner:</b> {{examiner_two}}<br>
        </p>
    </div>
{{/thesis_started}}

{{#thesis_no_start_date}}
    <div class="jumbotron">
        <h2>Somehting went wrong ...</h2>
        <p>Please contact the Examination Office!</p>
        <p>
            Your allocated Chair did not provide any thesis information yet!
            Please contact the Examination office about this issue.
        </p>
    </div>
{{/thesis_no_start_date}}

{{#allocated_chair_name}}
    <div class="jumbotron">
        <h2>Allocation process done</h2>
        <p>You have been allocated!</p>
        <p>
            Your Chair Allocation: <b>{{allocated_chair_name}}</b><br>
            Please contact your allocated chair now to discuss your thesis contents and start date options.
        </p>
    </div>
{{/allocated_chair_name}}





